/*=============== VARIABLES CSS ===============*/
:root {
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(244, 47%, 26%);
   --title-color: hsl(0, 0%, 15%);
   --text-color: hsl(0, 0%, 35%);
   --body-color: hsl(0, 0%, 95%);
   --container-color: hsl(0, 0%, 100%);
 
   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Poppins", sans-serif;
   --h2-font-size: 20px;
   --small-font-size: 13.008px;
 }

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
   :root {
     --h2-font-size: 24px;
     --small-font-size: 14px;
   }
 }